body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

h3 {
    color: #333;
}

.linkedin-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0077b5; /* LinkedIn brand color */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.linkedin-button:hover {
    background-color: #0092fb;
}

.linkedin-button i { 
    margin-right: 8px; 
    vertical-align: middle; 
}

.tabcontent2 {
    text-align: center;
}